image: docker/compose:1.29.2

default:
  tags: [docker]

services:
  - docker:20.10.16-dind

# Select what we should cache
cache:
  paths:
  - progression/vendor

stages:
  - verifications
  - build_image
  - test
  - tag_image
  - deploy_image
  - build_doc
  - deploy_doc

variables:
  PROGRESSION_DIR: $CI_PROJECT_DIR
  DOCKER_TLS_CERTDIR: ""
  BRANCHE: $CI_COMMIT_REF_NAME

.preparer_contexte: &preparer_contexte
    - DOCKER_HOST=
    - apk add ca-certificates openssh
    - mkdir ~/.ssh && cp $ID_RSA ~/.ssh/id_rsa && chmod 400 ~/.ssh/id_rsa
    - echo -e "Host *\n  StrictHostKeyChecking no" > ~/.ssh/config
    - docker context create --docker host=ssh://$CD_USER@$CD_HOST:$CD_PORT --description="Production" prod
    - docker context use prod

.login: &login
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

# Stage test

# Tests unitaires
test_unitaires:
  stage: test
  needs:
    - job: const_image
      optional: true
  script:
    - docker-compose pull tests
    - docker-compose run -v $PROGRESSION_DIR/reports/:/var/www/progression/reports -v $CI_PROJECT_DIR/env.exemple:$CI_PROJECT_DIR/.env $tests

  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: $PROGRESSION_DIR/reports/coverage.xml
  except:
    - master

# Linter
linter:
  stage: test
  needs:
    - job: const_image
      optional: true
  script:
    - echo $CI_PROJECT_DIR
    - ls $CI_PROJECT_DIR
    - cat $CI_PROJECT_DIR/.env
    - docker-compose run -v $CI_PROJECT_DIR/env.exemple:$CI_PROJECT_DIR/.env lint
  except:
    - master

# Stage build_image

version_check:
  stage: verifications
  script:
    - docker run -v $PWD:/progression_backend bitnami/git bash -c 'git config --global --add safe.directory /progression_backend && cd /progression_backend && VERSION_PREV=$(git show HEAD^:VERSION|cut -d "=" -f 2); VERSION_ACT=$(git show HEAD:VERSION|cut -d "=" -f 2); echo Version: $VERSION_PREV  → $VERSION_ACT; dpkg --compare-versions "$VERSION_ACT" "gt" "$VERSION_PREV" || ( echo ERREUR la version n’a pas avancé && exit 1 )'
  only:
  - master

# Construction de l'image
const_image:
  stage: build_image
  before_script: *login
  variables:
    DOCKER_BUILDKIT: 1
  script:
    - docker build --target composer --cache-from $CI_REGISTRY/$CI_PROJECT_PATH:${BRANCHE}_composer --build-arg BUILDKIT_INLINE_CACHE=1 -t $CI_REGISTRY/$CI_PROJECT_PATH:${BRANCHE}_composer -f docker/Dockerfile .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH:${BRANCHE}_composer
    - docker build --cache-from $CI_REGISTRY/$CI_PROJECT_PATH:$BRANCHE --build-arg BUILDKIT_INLINE_CACHE=1 -t $CI_REGISTRY/$CI_PROJECT_PATH:$BRANCHE -f docker/Dockerfile .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH:$BRANCHE   


# Stage tag

tag_latest:
  stage: tag_image
  needs: [const_image]
  before_script:
    - *login
  script:
    - docker pull $CI_REGISTRY/$CI_PROJECT_PATH:$BRANCHE
    - docker tag $CI_REGISTRY/$CI_PROJECT_PATH:$BRANCHE $CI_REGISTRY/$CI_PROJECT_PATH:latest  
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH:latest
  only:
    - master

   
# Stage deploy_image

# Déploiement sur /dev
deploy_dev:
  stage: deploy_image
  needs: [test_unitaires, linter]
  environment:
    name: dev
    url: $URL_DEV
    on_stop: stop_dev
  before_script:
    - *preparer_contexte
    - *login
  script:
    - TAG_DEPLOY=dev docker-compose pull api
    - TAG_DEPLOY=dev docker-compose -p dev up --force-recreate -d api
  only:
    - dev

stop_dev:
  stage: deploy_image
  environment:
    name: dev
    action: stop
  before_script:
    - *preparer_contexte
  script:
    - docker-compose -p dev stop api
  only:
    - dev
  when:
    manual
   
# Déploiement sur /demo
deploy_demo:
  stage: deploy_image
  needs: [tag_latest]
  environment:
    name: demo
    url: $URL_DEMO
    on_stop: stop_demo
  before_script:
    - *preparer_contexte
    - *login
  script:
    - TAG_DEPLOY=latest docker-compose pull api
    - TAG_DEPLOY=latest docker-compose -p demo up --force-recreate -d api
  rules:
    - if: '"$CD_HOST/$CI_PROJECT_PATH:$CI_COMMIT_BRANCH" == "git.dti.crosemont.quebec/progression/progression_backend:master"'

stop_demo:
  stage: deploy_image
  environment:
    name: demo
    action: stop
  before_script:
    - *preparer_contexte
  script:
    - docker-compose -p demo stop api
  rules:
    - if: '"$CD_HOST/$CI_PROJECT_PATH:$CI_COMMIT_BRANCH" == "git.dti.crosemont.quebec/progression/progression_backend:master"'
  when:
    manual

# Déploiement sur /staging
deploy_staging:
  stage: deploy_image
  needs: [tag_latest]
  environment:
    name: staging
    url: $URL_STAGING
    on_stop: stop_staging
  before_script:
    - *preparer_contexte
    - *login
  script:
    - TAG_DEPLOY=latest docker-compose pull api
    - TAG_DEPLOY=latest docker-compose -p staging up --force-recreate -d api
  rules:
    - if: '"$CD_HOST/$CI_PROJECT_PATH:$CI_COMMIT_BRANCH" == "git.dti.crosemont.quebec/progression/progression_backend:master"'

stop_staging:
  stage: deploy_image
  environment:
    name: staging
    action: stop
  before_script:
    - *preparer_contexte
  script:
    - docker-compose -p staging stop api
  rules:
    - if: '"$CD_HOST/$CI_PROJECT_PATH:$CI_COMMIT_BRANCH" == "git.dti.crosemont.quebec/progression/progression_backend:master"'
  when:
    manual

# Déploiement sur progression.dti.crosemont.quebec
deploy_prod:
  stage: deploy_image
  needs: [tag_latest]
  environment:
    name: prod
    url: https://progression.dti.crosemont.quebec/api/v1/
    on_stop: stop_prod
  before_script:
    - *preparer_contexte
    - *login
  script:
    - TAG_DEPLOY=latest docker-compose pull api
    - TAG_DEPLOY=latest docker-compose -p prod up --force-recreate -d api
  when:
    manual
  rules:
    - if: '"$CD_HOST/$CI_PROJECT_PATH:$CI_COMMIT_BRANCH" == "git.dti.crosemont.quebec/progression/progression_backend:master"'

stop_prod:
  stage: deploy_image
  environment:
    name: prod
    action: stop
  before_script:
    - *preparer_contexte
  script:
    - docker-compose -p prod stop api db redis
  rules:
    - if: '"$CD_HOST/$CI_PROJECT_PATH:$CI_COMMIT_BRANCH" == "git.dti.crosemont.quebec/progression/progression_backend:master"'
  when:
    manual

# Déploiement sur progression.crosemont.qc.ca/
deploy_crosemont:
  stage: deploy_image
  needs: [tag_latest]
  tags:
    - docker
    - crosemont
  environment:
    name: crosemont
    url: https://progression.crosemont.qc.ca/api/v1/
    on_stop: stop_crosemont
  before_script:
    - export CD_HOST=progression.crosemont.qc.ca CD_PORT=22 CD_USER=updater
    - *preparer_contexte
    - *login
  script:
    - TAG_DEPLOY=latest docker-compose pull api
    - TAG_DEPLOY=latest docker-compose -p prod up --force-recreate -d api
  when:
    manual
  rules:
    - if: '"$CD_HOST/$CI_PROJECT_PATH:$CI_COMMIT_BRANCH" == "git.dti.crosemont.quebec/progression/progression_backend:master"'

stop_crosemont:
  stage: deploy_image
  tags:
    - docker
    - crosemont
  environment:
    name: crosemont
    action: stop
  before_script:
    - export CD_HOST=progression.crosemont.qc.ca CD_PORT=22 CD_USER=updater
    - *preparer_contexte
  script:
    - docker-compose -p prod stop api db redis
  rules:
    - if: '"$CD_HOST/$CI_PROJECT_PATH:$CI_COMMIT_BRANCH" == "git.dti.crosemont.quebec/progression/progression_backend:master"'
  when:
    manual
   

# Stage build_doc

# Production de la documentation dev
pages_dev:
  stage: build_doc
  needs: [deploy_dev]
  variables:
    PROGRESSION_API_URL: $URL_DEV
  script:
  - docker run -e PROGRESSION_API_URL=$PROGRESSION_API_URL -v "$PROGRESSION_DIR/:/tmp/" $CI_REGISTRY/progression/dev:latest emacs --batch --load ~/.emacs.el --load /tmp/doc/publish.el --funcall org-publish-all
  - mkdir -p public/dev && cp -r $PROGRESSION_DIR/progression/app/html/doc/* public/dev/
  - "! grep -c nil public/dev/api.html # Vérifie que la production de l'API n'a pas produit d'erreur"
  rules:
    - if: '"$CD_HOST/$CI_PROJECT_PATH:$CI_COMMIT_BRANCH" == "git.dti.crosemont.quebec/progression/progression_backend:dev"'
  when:
    manual
  artifacts:
    paths:
    - public

# Production de la documentation master
pages_master:
  stage: build_doc
  needs:
    - job: deploy_staging
      optional: true
  variables:
    PROGRESSION_API_URL: $URL_DEMO
  script:
  - docker run -e PROGRESSION_API_URL=$PROGRESSION_API_URL -v "$PROGRESSION_DIR/:/tmp/" $CI_REGISTRY/$CI_PROJECT_NAMESPACE/dev:latest emacs --batch --load ~/.emacs.el --load /tmp/doc/publish.el --funcall org-publish-all
  - mkdir public && cp -r $PROGRESSION_DIR/progression/app/html/doc/* public/
  - "! grep -c nil public/api.html # Vérifie que la production de l'API n'a pas produit d'erreur"
  only:
    - dev
    - master
  when:
    manual
  artifacts:
    paths:
    - public


# Stage deploy_doc

# Déploiement de la doc
pages:
  stage: deploy_doc
  script:
    - echo OK #apparemment nécessaire...
  artifacts:
    paths:
    - public
  only:
    - dev
    - master
  when:
    manual
