<table width=100%>
	{{# users }}
        <tr>
			<td><a href=index.php?p=ad_suivi&u={{ id }}>{{ username }}</a></td>
        </tr>
	{{/ users }}
</table>

{{# user_id }}
	<pre class='code-wrapper'><code>
		<table width=100%>
			<th align=left  width=70%>Thème</th><th align=center width=30%>Complété</th>
{{/ user_id }}

{{# thèmes }}
    <tr>
        <td><a href='?p=ad_suivi&u={{ user_id }}&t={{ id }}'>{{ titre }}</td><td align=center>{{ avancement }}% </a></td>
    </tr>
{{/ thèmes }}

        </table>

		{{# thème }}
			<h3>{{ titre }}</h3>
			<br><br>
			<pre class='code-wrapper'><code>
				<table width=100%>
					<th align=left width=10%>N°</th><th align=left>Sujet</th><th align=center>Complété</th>
		{{/ thème }}
		
        {{# séries }}
			<tr>
				<td>{{ numero }}</td><td>{{ titre }}</a></td><td align=center>{{ avancement }}%</td>
			</tr>

		{{/ séries }}
				</table>
