{{> header }}
<section class='main'>
	<div class='example-wrapper clearfix'>
		{{> question_prog_header }}

<pre class='code-wrapper'>
    <code>
        <form method='post' action=''>
            <table width=100% style='background-color: white; border-style:solid; border-color:black; border-width:0px; border-spacing: 10px 10px;'>
				<tr>
					<td>
						Langage : {{> menu_langages }}
						<script> document.getElementById( 'langid' ).value={{exécutable.langid}};</script>
					</td>
				</tr>


				<tr>
					<td colspan=2>
						<textarea id='incode' name = 'incode' rows='10' cols='80'>{{exécutable.code_exec}}</textarea>
					</td>
				</tr>  

				<tr>
					<td width=50%>
						<h3>Paramètres </h3>
						<textarea id='params' name = 'params' rows='1' style='width:100%'>{{exécutable.params}}</textarea>
					</td>
					<td width=50%>
						<h3>Entrées</h3>
						<textarea id='stdin' name = 'stdin' rows='1' style='width:100%'>{{#tests}}{{stdin}}{{/tests}}</textarea>
					</td>
				</tr>  

            </table>
            <input type=submit name='valider' value='Soumettre' >
        </form>
    </code>
</pre>  

{{> question_prog_footer }}
{{> footer }}
