{{> header }}
{{> question_header }}
{{> question_prog_header }}

<pre class='code-wrapper'>
    <code>
        <form method='post' action=''>
            <table width=100% style='background-color: white; border-style:solid; border-color:black; border-width:0px; border-spacing: 10px 10px;'>
                <tr>
                    <td>
                        Langage : {{lang_nom}}
                </tr>
                <tr {{^question.pre_code}} style="display:none;" {{/question.pre_code}}>
                    <td colspan=2>
                        <textarea id='precode' rows='5' >{{question.pre_code}}</textarea>
                    </td>
                </tr>

				<tr>
                    <td colspan=2>
                        <textarea id='incode' name = 'incode' rows='10' cols='80'>{{question.code}}</textarea>
                    </td>
				</tr>  

                <tr {{^question.post_code}} style="display:none;" {{/question.post_code}}>
                    <td colspan=2>
                        <textarea id='postcode' rows='5' >{{question.post_code}}</textarea>
                    </td>
                </tr>
				<tr>
                    <td>
						{{#question.répondable}}
							<input type=submit name='exécuter' value='Exécuter' >
						{{/question.répondable}}
						{{^question.répondable}}
							<input type=submit name='valider' value='Soumettre' >
						{{/question.répondable}}
                    </td>
                </tr>
                <tr>
					<td>
						{{#question.répondable}}
							Réponse: <input type=text name='reponse' value='{{avancement.reponse}}'>
							<input type=submit name='valider' value='Soumettre'>
						{{/question.répondable}}
					</td>
					<td  align=right>
						<input type=submit name='reset' value='Réinitialiser' onclick='return confirm( "Voulez-vous vraiment réinitialiser votre session?" );'>
					</td>
				</tr>
				<tr height=100%></tr> <!-- comble l'espace inutilisé dans la table -->

            </table>
        </form>
    </code>
</pre>  

{{> question_prog_footer }}
{{> question_footer }}
{{> footer }}
