<html> 
  <head>
    <meta charset='utf-8'>
  </head>
  <body>

    <section class='main'>
      <div class='example-wrapper clearfix'>
	<h3>{{question.titre}}</h3>
        <br>
        {{{question.enonce}}}
        <br>
        <br>
        <pre class='code-wrapper'>
	  <form id='form1' method='post' action=''>
            <table width=100%> 
	      <tr>
		<td align=right colspan=2><a href='https://{{nom_serveur}}:{{cont_port}}' target=_blank>plein écran <img width=16 src='images/fs.png'></a>
		</td>
	      </tr>
	      <tr>
		<td colspan=2>
		  <iframe id=tty width=100% height=350 src='https://{{nom_serveur}}:{{cont_port}}'></iframe>
		</td>
	      <tr>
		<td>
		  {{#question.répondable}}
		  Réponse: <input type=text name=reponse value='{{avancement.reponse}}'>
		  <input type=submit name='submit' value='Soumettre'>
		  {{/question.répondable}}
		  {{^question.répondable}}
		  <input type=submit name='submit' value='Valider'>
		  {{/question.répondable}}
		</td>
		<td  align=right>
		  <input type=submit name='reset' value='Réinitialiser' onclick='return confirm("Voulez-vous vraiment réinitialiser votre session?");'>
		</td>
	      </tr>
	    </table>
	  </form>
	</pre>
	<table width=100%>
	  <tr>
	    <td align=left width=25%>
	      <a href={{{url_retour}}}>↩ Retour à {{titre_retour}}</a>
	    </td>
	    <td width=50% align=center>
	      {{#essayé}}
	      {{#réussi}}
	      Bonne réponse!<br>
	      {{#question.code_validation}}
                  (Code de validation : {{.}})<br>
	      {{/question.code_validation}}
	      {{/réussi}}
	      {{^réussi}}    
	      Raté! Essayez encore
	      {{/réussi}}
	      {{/essayé}}
	    <td/>

	    <td align=right width=25%>
	      {{#état_réussi}}
	      {{#question.suivante}}
	      <a href=index.php?p=question_sys&ID={{.}}>Question suivante →</a>
	      {{/question.suivante}}
	      {{/état_réussi}}
	    </td>
	  </tr>
	</table>
      </div>
      {{>footer}}
