.menu-button {
	display: inline-block;
	padding:0;
	height: 75px;
	width: 75px;
	background: url("../images/HamburgerMenu.png") no-repeat 50% 50%;
	float: right;
}
.name-user {
	display: inline-block;
	height:75px;
	float: right;
}
.name-user h1,h2,h3,h4,h5,h6 {
	line-height: 75px;
}
.name-user a {
	text-decoration: none !important;
}
#main-logo a{
	text-decoration: none;
	display: inline;
}
#main-logo h1{
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	color: #62b2d4;
	line-height: 75px;
	margin: 0;
	display: inline;
}
.subtitle {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	color: #8c8c8c;
	line-height: 75px;
	margin: 0;
	text-align: center;

}
#main-logo h1 span {
	font-family: 'Lato Light', sans-serif;
	font-weight: 200;
	color:#8c8c8c;	
}
.uk-offcanvas-bar .uk-nav-default > li:not(.uk-active) > a:hover {
    color: #62b2d4;
}
.zone-pratique:hover {
	filter: brightness(1.125);
}
@media (max-width:639px) {
	.subtitle {line-height: 50px;}
	.name-user {line-height: 50px;}
	.menu-button {width:50px; height:50px;}
	.name-user h2 {font-size:1em; height: 50px; line-height: 50px;}
	.uk-offcanvas-bar {width: 350px;}

}
@media (max-width: 750px){
	.name-user h2 {font-size:1em;}
}
@media (min-width:640px and max-width: 1199px) {
	.name-user h2 {font-size:1em; height: 50px;}
	.name-user h1,h2,h3,h4,h5,h6 {line-height: 50px; font-size:;}
	.uk-offcanvas-bar {width: 350px;}

}
@media (min-width:1200px) {
	.name-user h2 {font-size:2em;}
}