{{> header }}

<form method='POST'>
	<table>
		<tr><td>URL : </td><td><input name='url' type=text></td></tr>
		<tr><td>Nom d'utilisateur : </td><td><input name='username' type=text></td></tr>
		<tr><td>Mot de passe : </td><td><input name='password' type=password></td></tr>
		<tr><td><input type="submit" name="submit" value="Mettre à jour">
	</table>
</form>

{{>footer}}
