<select id='langid' name='langid' onchange="onChangerMode()">
	{{#langages}}
		{{#python2}}<option value=0 >Python 2</option>{{/python2}}
		{{#python}}<option value=1 >Python 3</option>{{/python}}
		{{#ruby}}<option value=2 >Ruby</option>{{/ruby}}
		{{#php}}<option value=4 >PHP</option>{{/php}}
		{{#go}}<option value=7 >Go</option>{{/go}}
		{{#cpp}}<option value=8 >C++</option>{{/cpp}}
		{{#c}}<option value=9 >C</option>{{/c}}
		{{#java}}<option value=10 >Java</option>{{/java}}
		{{#bash}}<option value=11 >Bash</option>{{/bash}}
		{{#perl}}<option value=12 >Perl</option>{{/perl}}
	{{/langages}}
</select>

<script>

 function onChangerMode(){
	 document.forms.form_code.elements.incode.value="";
	 document.forms.form_code.submit();
 }
 
 {{#langid}}
 document.getElementById("langid").value={{.}};
 {{/langid}}
</script>
