{{#résultats.essayé}}
	<ul uk-accordion="multiple: false"> 
		{{#tests}}
			<li
				{{^réussi}}
					class="uk-open"
				{{/réussi}}
			>
				<a class="uk-accordion-title" href="#" style="color: 
						  {{#réussi}}
						  #00994d
						  {{/réussi}}
						  {{^réussi}}
						  #cc0000
						  {{/réussi}}
						  ;">
					{{nom}}
				</a>
				<div class="uk-accordion-content">
					
					<table width=100%>
						
						<tr height=100%></tr> <!-- comble l'espace inutilisé dans la table -->
						{{#params}}
						<tr>
							<td><br>paramètres de ligne de commande
								<code>{{.}}</code></pre><br>
							</td>
						</tr>
						{{/params}}
						{{#réussi}}
							{{#feedback_pos}}
							<tr>
								<td class="mac">
									{{{.}}}
								</td>
							</tr>
							{{/feedback_pos}}
						{{/réussi}}
						{{^réussi}}
							{{#feedback_neg}}
								<tr>
									<td class="mac">
										{{{.}}}
									</td>
								</tr>
							{{/feedback_neg}}
						{{/réussi}}

						{{#stdin}}
						<tr>
							<td><br>Entrées
								<p>
									<code>{{.}}</code></pre><br>
								</p>
							</td>
						</tr>
						{{/stdin}}

						{{#sorties}}
							{{#erreurs}}
								<tr>
									<td colspan=2><br>sortie d'erreur : <br>
										<pre class='code-wrapper'><code>{{.}}</code></pre><br>
									</td>
								</tr>
							{{/erreurs}}
							{{^erreurs}}
								<tr>
									{{#solution}}
										<td witdh=100% valign=top><br>Sortie attendue : <br>
											<pre class='code-wrapper'><code>{{solution}}</code></pre><br>
										</td>
									{{/solution}}
									<td width=50%  valign=top><br>Sortie standard : <br><pre class='code-wrapper'><code>{{output}}</code></pre><br></td>
								</tr>
							{{/erreurs}}
						{{/sorties}}
					</table>
				</div>
			</li>
		{{/tests}}
	</ul>
{{/résultats.essayé}}

<script>
	créerÉditeur(document.getElementById( 'incode' ), {{langid}});
</script>
