<section class='main'>
	<div class='example-wrapper clearfix'>
		<h3>{{question.titre}}</h3>
		<br>
		{{{question.enonce}}}
		<br>
		<br>
		{{#résultats.essayé}}
			<table width=100%><tr>
				{{#résultats.réussi}}
					<td  class='metro' width=100% align=center>
						Bonne réponse!
					</td>
			</tr>
			<tr>
				<tr>
					<td class="mac">
					{{{question.feedback_pos}}}
				</td>
				</tr>
			</tr>
				{{#question.code_validation}}
						<td>
							Code de validation : {{question.code_validation}}
						</td>
					{{/question.code_validation}}
				{{/résultats.réussi}}
				{{#résultats.nonréussi}}    
					<td class='metro' width=100% align=center>
						Raté! Essayez encore
					</td>
      			</tr>
      			<tr>
					<td class="mac">
						{{{question.feedback_neg}}}
					</td>
      			</tr>
				{{/résultats.nonréussi}}
			</tr></table>
		{{/résultats.essayé}}
			</table>


