<table width=100%>
	<tr>
		<td align=left width=25%>
			<a href={{{url_retour}}}>↩ Retour à {{titre_retour}}</a>
		</td>
		<td align=right width=25%>
			{{#résultats.état_réussi}}
				{{#question.suivante}}
					<a href=index.php?p=question&ID={{.}}>Question suivante →</a>
				{{/question.suivante}}
			{{/résultats.état_réussi}}
		</td>
	</tr>
</table>
		</div>
	</section>
