<table width=100%>
	{{#résultats.essayé}}
		{{#erreurs}}
			<tr>
				<td colspan=2><br>Sortie d'erreur : <br><pre class='code-wrapper'><code>{{erreurs}}</code></pre><br></td>
			</tr>
			<tr>
		{{/erreurs}}
	{{/résultats.essayé}}
	<td witdh=100% valign=top><br>Sortie attendue : <br><pre class='code-wrapper'><code>{{solution}}</code></pre><br>
		<td width=50%  valign=top><br>Sortie standard : <br><pre class='code-wrapper'><code>{{output}}</code></pre><br></td>
			</tr>
</table>

<script>
 function betterTab( cm ) {                         
	 if ( cm.somethingSelected() ) {
		 cm.indentSelection( 'add' );
	 } else {
		 cm.replaceSelection( cm.getOption( 'indentWithTabs' )? '\t':
							 Array( cm.getOption( 'indentUnit' ) + 1 ).join( ' ' ), 'end', '+input' );
	 }
 }

 if( document.getElementById( 'precode' ) != null ){
	 var preeditor = CodeMirror.fromTextArea( document.getElementById( 'precode' ),{
		 readOnly: true,
		 lineNumbers: true,
		 {{#première_ligne_éditeur_precode}}
  	     firstLineNumber: {{première_ligne_éditeur_precode}},
		 {{/première_ligne_éditeur_precode}}
		 indentUnit: 4
	 } );
	 preeditor.setSize( null,'100%' );//preeditor.getScrollInfo().height );
 }
 
 if( document.getElementById( 'incode' ) != null ){
	 var editor = CodeMirror.fromTextArea( document.getElementById( 'incode' ),{
		 matchBrackets: true,
		 lineNumbers: true,
		 {{#première_ligne_éditeur_incode}}
	     firstLineNumber: {{première_ligne_éditeur_incode}},
		 {{/première_ligne_éditeur_incode}}
		 readOnly: false,
		 indentUnit: 4,
		 scrollbarStyle: null,
		 extraKeys: { Tab: betterTab }
	 } );
	 editor.setSize( '100%', '100%' );
 }

 if( document.getElementById( 'postcode' ) != null ){
	 var posteditor = CodeMirror.fromTextArea( document.getElementById( 'postcode' ),{
		 readOnly: true,
		 lineNumbers: true,
		 {{#première_ligne_éditeur_incode}}
	     firstLineNumber: {{première_ligne_éditeur_incode}}+editor.doc.lineCount(),
		 {{/première_ligne_éditeur_incode}}
		 indentUnit: 4
	 } );
	 posteditor.setSize( null,'100%' );
	 editor.doc.on( 'change', function( instance, changeObj ){
		 posteditor.setOption( 'firstLineNumber', {{première_ligne_éditeur_incode}}+editor.doc.lineCount() );
	 } );
 }
</script>
