Langage :
<select id='langid' name='langid' >
  <option value=0 >Python 2</option>
  <option value=1 >Python 3</option>
  <option value=2 >Ruby</option>
  <option value=4 >PHP</option>
  <option value=7 >Go</option>
  <option value=8 >C++</option>
  <option value=9 >C</option>
  <option value=10 >Java</option>
  <option value=11 >Bash</option>
  <option value=12 >Perl</option>
</select>