<h3>Exercices de programmation</h3>
    <pre class='code-wrapper'><code>
        <table width=100%>
            <th align=left  width=70%>Thème</th><th align=center width=30%>Complété</th> 
	    {{# themes }}
            <tr>
                <td><a href='?p=theme&ID={{id}}'>{{titre}}</td>
                <td align=center> {{avancement}}% </a></td>
            </tr>
            {{/ themes }}
            <tr><td><br></td></tr>
            <tr>
                <td><a href='?p=pratique'>Zone de pratique libre</a></td>
            </tr> 
    
        </table>
    </pre>

