{{#serie}}
    {{>titre}}
{{/serie}}
     <div class='code-wrapper'>
         <table width=100%>
	      {{#questions}}
             <tr>
                 <td class='{{css}}'><a href='?p={{page}}&ID={{id}}'>{{titre}}</a></td>
             </tr>
	      {{/questions}}
             <tr>
                 <td> </td>
             </tr>
                 <td colspan=3 align=left><a href=index.php?p=theme&ID={{serie.themeID}} >↩ Retour à la liste des sujets</a></td>
            </tr>
        </table>
    </div>
	 
{{>footer}}