{{#theme}}
    {{>titre}}
{{/theme}}
    <div class='code-wrapper'>
        <table width=100%>
            <th align=left width=10%>N°</th><th align=left>Sujet</th><th align=center>Complété</th>
		  {{#series}}
            <tr>
                <td>{{numero}}</td>
                <td><a href='?p=serie&ID={{id}}'>{{titre}}</a></td>
                <td align=center>{{avancement}}%</td>
            </tr>
            {{/series}}
            <tr>
                <td> </td>
            </tr>
            <tr>
                <td colspan=3 align=left><a href=index.php?p=accueil>↩ Retour à l'accueil</a></td></tr>
            </tr>
        </table>
    </div>
{{>footer}}